body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.searchContainer {
  height:100vh;
  width: 100%;
  background-image: url(./images/Home.png);
  background-repeat: no-repeat;
}

.contact {
  background-image: url(./images/HomeBlank.png);
}

/*Form Section*/

 .FormContainer {
  background-color:white;
  border-top: solid 5px rgb(14, 14, 154);
  border-radius: 5px;
  padding-top: 70px;
  position: absolute ;
  left: 0;
  width: 200px;

}

/*footer section*/
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  background-color:none;
}

.ic {
  display: flex;
  justify-content: center;
  margin: 10px;

}

.ic a {
  margin: 10px;
}